body {background: rgba(50,50,50,1); color: rgba(255, 255, 255, 1);}
p {
	clear:both;
}		


.contents {font-family: Helvetica, Arial; font-size: 12px;}
.hidden {display: none;}

.textdisplay {
    position: relative;
    font-size: 66px; 
    font-weight: bold;
    width: 98%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
}
.textgradient {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background-image: -webkit-gradient(
        linear, 
        right top, 
        left top,
        from(rgba(50,50,50,1)),
        to(rgba(0,0,0,0)));
}
.textdisplay span {
    margin-left: -500px; /*default*/
}
.textdisplay span.title {
    margin-left: 0;
}

.recordingholder {
    text-align: center;
    padding-top: 12px;
}
.recording {
    font-size: 30px;
    padding: 15px 20px;
    font-weight: bold;
    background: rgba(200, 25, 25, .75);
    display: inline-block;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
}
.recording.showing {
    opacity: 1;
}